/build/expath-model-java-0.*.zip
/build/expath-model-java.jar
/model-java/nbproject/private/
/model-java/nbproject/genfiles.properties
/model-java/dist/
/model-java/build/
/model-java/src/org/expath/model/version.properties
